<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <title>{{title}}</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="toast toast_message_div">
                    <div class="alert alert-error">
                    <span>{{ message }}</span>
                    </div>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="toast toast_message_div">
                    <div class="alert alert-success">
                    <span>{{ message }}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>