<div class="navbar bg-base-100">
<div class="flex-1">
    <a class="btn btn-ghost text-xl">Birthday Wisher</a>
</div>
<div class="flex-none gap-2">
    <button class="btn btn-ghost btn-sm" onclick="notification_modal.showModal()">Notifications
        <span class="indicator-item badge">{{notifications|length}}</span>

    </button>
    {% include "main/includes/notifications_modal.html" with notifications=notifications %}
    <div class="form-control">
        <button class="btn btn-primary btn-sm" onclick="create_profile_modal.showModal()">Add new profile</button>
    </div>
    <div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
        <img
            alt="Tailwind CSS Navbar component"
            src="{{ request.user.profile_image.url }}" />
        </div>
    </div>
    <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
        <a class="justify-between">
            Profile
            <span class="badge">New</span>
        </a>
        </li>
        <li><a>Settings</a></li>
        <li><a href="{% url 'users_urls:logout_url' %}">Logout</a></li>
    </ul>
    </div>
</div>
</div>