{% load static %}
<div
  class="hero min-h-screen"
  style="background-image: url({% static 'images/hero-bg.jpg' %});">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-2xl">
      <h1 class="mb-5 text-5xl font-bold">Never Miss a Birthday Again</h1>
      <p class="mb-5">
        In a world that moves at lightning speed,
        it's easy to let important dates slip through the cracks.
        Our Birthday Wisher ensures you stay connected with loved ones,
        making sure every special day is celebrated.
        Keep the warmth of friendship and family alive,
        no matter how busy life gets.
      </p>
      <a href="{% url 'users_urls:signup_url' %}">
          <button class="btn btn-primary">Get Started</button>
      </a>
    </div>
  </div>
</div>