{% extends "main/includes/base.html" %}
{% load static %}
{% block content %}
<div class="hero bg-base-200 min-h-screen">
	<div class="hero-content flex-col lg:flex-row-reverse">
	  <div class="text-center lg:text-left">
		<h1 class="text-5xl font-bold">LOGIN NOW!</h1>
		<p class="py-6">
		  Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
		  quasi. In deleniti eaque aut repudiandae et a id nisi.
		</p>
	  </div>
	  <div class="card bg-base-100 w-full max-w-lg shrink-0 shadow-2xl">
		<form class="card-body" action="{% url 'users_urls:signin_url' %}" method="post">
            {% csrf_token %}
			<div class="form-control">
				<label class="label">
				  <span class="label-text">Username</span>
				</label>
				<input type="text" placeholder="Username" name="username" class="input input-bordered" required />
            </div>
		  <div class="form-control">
			<label class="label">
			  <span class="label-text">Password</span>
			</label>
			<input type="password" placeholder="password" name="password" class="input input-bordered" required />
			<label class="label">
			  <a href="{% url 'users_urls:signup_url' %}" class="label-text-alt link link-hover">Create new account</a>
			</label>
		  </div>
		  <div class="form-control mt-6">
			<button class="btn btn-primary">Login</button>
		  </div>
		</form>
	  </div>
	</div>
  </div>
{% endblock %}